@import '~antd/dist/antd.css';

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchContainer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchTitle {
  font-size: 32px;
  color: #555555;
}

.searchBox {
  width: 45%;
  margin-top: 25px;
  min-width: 500px;
  display: flex;
}

.searchTable {
  width: 75%;
}

.searchConfig {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 42%;
  min-width: 500px;
}

thead {
  display: none;
}

table {
  cursor: default;
  margin-top: 25px;
}

.tableButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: -120px;
}

.tableButton button {
  margin: 0 3px;
  font-size: 12px;
  color: gray;
}

.textId {
  position: absolute;
  height: 100%;
  left: -30px;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.ant-modal {
  width: 720px !important;
}

.contextContent {
  margin-bottom: 30px;
}

.contextContent p {
  text-indent: 2em;
}

.contextContentTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: gray
}

.searchMessage {
  margin-top: 30px;
  width: 40%;
  text-align: center;
}

.textDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textDisplayTitle {
  text-align: center;
  font-size: 24px;
  margin-top: 70px;
}

.contextText {
  transition: ease-out .2s;
}

.contextText:hover {
  background-color: #C0C0C0;
}